.body {
  height: calc(100vh - 160px);
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.body-title {
  justify-content: center;
  width: 100%;
  display: flex;
}

.body-rest {
  width: 50%;
  justify-content: center;
  flex-grow: 1;
  max-width: 660px;
}

.body-rest.small {
  width: 100%;
}
