.scrollable-container {
  height: calc(100vh - 350px);
}
.country {
  width: 120px;
  padding: 0;
  justify-content: flex-start;
}
.country:hover {
  background-color: unset;
}

.country .mantine-Button-inner {
  justify-content: flex-start;
  padding-right: 10px;
}

.country .mantine-Button-label {
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding-top: 10px;
}
